body {
  font-size: 16px;
  color: gol;
  background-color: goldenrod;
  font-family: 'Pacifico', cursive;
}
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}

#logo-img {
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Cinzel', serif;
  color: goldenrod;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
h1 {
  text-align: center;
  color: black;
  }

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: goldenrod;
  text-align: center;
}
#nav-list a:hover {
    background: none;
}
#nav-list a span {
  font-size: 1.8em;
}

div { 
  color: goldenrod;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid goldenrod;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#menu-categories-title , div {
  margin-bottom: 10px;
  color: black;
}

/* Large devices  */
@media (min-width: 1200px) {
 
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
 
  }


/* Small devices only */
@media (min-width: 768px) and (max-width: 991px) {
 
}

/* Extra small devices */
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  /*#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }*/

  }
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    margin: 0 auto 15px;
  }

  /*.menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/* Super extra small devices Only */
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



